/* |||||||||| -- S I T E  W I D E -- |||||||||| */

body {
  font-family: sans-serif;
  background-color: #E8E8E8;
  margin: 0;
}

html {
  overflow-y: scroll;
  overflow-x: scroll;
}

body ::-webkit-scrollbar {
  background-color: rgba(26,26,26,.5) !important;
}

body ::-webkit-scrollbar-thumb {
  background: gray !important;
  /* border-style: solid;
  border-width: thin;
  border-color: white; */
}

a {
  margin: 0px;
  border: 0px;
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 0px;
}


textarea {
  resize: none;
}

form div {
  display: inline-block;
}

note {
  width: 90%;
  margin-bottom: 5px;
  font-size: 12px;
  font-weight: bold;
}

#version {
  margin: .2rem;
}

#offline-lander {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

#offline-header {
  font-size: 18px;
  font-weight: bold;
  color: #456d9b;
  margin-bottom: 2rem;
}

#navlogo-offline {
  max-height: 20px;
  margin-bottom: 3rem;
}

.title {
  font-family: "Geneva";
  font-size: 1.5rem;
  display: flex;
  align-self: center;
  color: black;
  padding-bottom: 2rem;
  padding-top: 2rem;
}

.sub-title {
  font-family: "Geneva";
  display: flex;
  font-size: 1.5rem;
  letter-spacing: 5px;
  align-self: center;
  font-size: 1rem;
  color: black;
  padding-bottom: 1rem;
  padding-top: 3rem;
}

.client-card {
  color: white;
  font-size: 1.2rem;
}

#maincontent {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-color: #E8E8E8;
  min-height: 79.4vh;
  position:relative;
}

.boundry-message {
  font-family: "Trebuchet MS";
  font-weight: lighter;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  font-size: .8em;
  color: #BCBCBC;
  background-color: rgba(255,255,255,.08);
  padding: .7rem;
}

.header-text {
  font-family: "HelveticaNeue-CondensedBold";
  font-size: 15rem;
  color: black;
  opacity: .3;
}

.viewport {
  display: flex;
  background-color: white;
  overflow: hidden;
  position:fixed;
  height: 100vh;
  width: 100%;
  justify-content: center;
  align-items: center;
}

#divider {
  display: flex;
  justify-content: center;
  width: 50px;
  background-color: black;
  height: 4px;
}

/* ==================================================== */

/* |||||||||| -- A C C O U N T  S E T T I N G S   P A G E -- |||||||||| */

#account-settings-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 3rem;
  width: 100vh;
}

#user-info-container {
  /* display: flex;
  flex-direction: column; */
}

#password-field {
  background-color: lightgray;
}

#password-field.active {
  background-color: white;
}

#email-field {
  background-color: lightgray;
}

#email-field.active {
  background-color: white;
}

.edit-button {
  margin-top: 10px;
  width: 65px;
}

.edit-button-1 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  width: 40px;
  background-color: white;
  cursor: pointer;
  border-radius: 3px;
  border-color: gray;
  border-style: solid;
  border-width: .6px;
  box-shadow: 0px .8px 2px gray;
}

.edit-button-1:active {
    background-color: blue;
}

.account-form-inputs {
  display: flex;
  flex-direction: column;
  width: 300px;
  margin-bottom: 1em;
}

#user-management-container {
  display: flex;
  justify-content: center;
  width: 70vw;
  margin-top: 2rem;
}

/* ==================================================== */

/* ==================================================== */

/* |||||||||| -- A R T I S T   P A G E -- |||||||||| */

#filter-list {
  display: flex;
  justify-content: center;
  flex-direction: column;
  /* width: 80vw; */
  width: 1170px;
}

.category-filter{
  font-size: 10px;
  margin-bottom: 2px;
  margin-left: 5px;
  margin-right: 5px;
  padding-left: 5px;
  padding-right: 5px;
  color: white;
  transition: color .2s ease;
  background-color: #C1272D;
  cursor: pointer;
}

.category-filter:hover{
  color: black;
}

#aristlist {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-self: center;
  align-items: center;
  border-style: solid;
  border-width: thin;
  border-color: black;
  background-color: rgba(26,26,26,.3);
  width: 1170px;
  height: 0px;
  overflow: auto;
  transition: height .2s ease;
}

#aristlist.active {
  height: 700px;
}

#artist-title-bar-name-photo {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin: 1rem;
}

.artist-name-list {
  font-size: 30px;
  padding-right: 2rem;
  letter-spacing: 5px;
  line-height: 1.3;
  color: white;
}

.artist-name-list-2 {
  display: flex;
  justify-content: center;
  font-size: 18px;
  line-height: 1.3;
  color: black;
}

.artist-bio-list {
  padding: 1rem;
  font-size: 1.2em;
  color: white;
}

#artist-photo-container {
  /* height: 110px;
  width: 385px;
  overflow: hidden; */
}

#artist-photo-list{
  height: auto;
  object-fit: cover;
  height: 200px;
  width: 370px;
}

.artist-list-block-style {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 1170px;
}

.artist-product-card{
  /* display: flex;
  flex-direction: column;
  align-items: center;
  align-self: center;
  border-color: black;
  border-style: solid;
  border-width: thin;
  width: 100%;
  margin: 1rem;
  padding: 1rem; */
}

.artist-view-category{
  margin-top: 1rem;

}

.artist-block {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 1rem;
}

#filter-selection {
  display: flex;
  min-width: 80%;
}

#expand-btn {
  color: white;
  font-weight: 900;
  border-style: solid;
  border-color: white;
  border-width: thin;
  padding-left: 5.5px;
  padding-right: 2px;
  font-size: 10px;
  cursor: pointer;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently supported by Chrome and Opera */
}

#artist-scroller-div {
  display: flex;
  align-self: center;
  justify-content: center;
  padding-bottom: 2em;
}

.artist-tile {
  font-family: "Geneva";
  width: 95%;
  font-size: 12px;
  background-color: rgba(36,36,36,.9);
  letter-spacing: 2px;
  color: white;
  margin: 5px;
  margin-top: 10px;
  padding: .4rem;
  opacity: .9;
  transition: color .2s ease;
  transition: background-color .2s ease;

}

.artist-tile-2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-self: center;
  width: 100%;
  font-size: 14px;
  letter-spacing: 2px;
  transition: color .2s ease;
  transition: background-color .2s ease;
}

.artist-name-list-quickview {
  color: mediumblue;
}

.artist-name-list-quickview:hover {
  color: blue;
}

.artist-tile-2:hover {
  color: lightblue;
  cursor: pointer;
}

#artist-quicklist {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

#artist-count-list{
  display: flex;
  font-size: 20px;
  text-decoration: underline;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.artist-tile:hover {
  background-color: rgba(36,36,36,1);
  cursor: pointer;
}

.artist-tile:active {
    background-color: black;
    color: #C1272D
}

.scroll-list-title {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  font-family: "Geneva";
  text-transform: uppercase;
  letter-spacing: 3px;
  background-color: rgba(36,36,36,.9);
  color: white;
  padding: .5rem;
  padding-left: 2rem;
  padding-right: 2rem;
  z-index: 1;
  box-shadow: 0px 5px 10px -3px black;
}

.product-tile {
  display: flex;
  justify-content: space-between;
}

#spacer {
  padding-left: 10px;
  padding-right: 10px;
}

.productsDisplay2 {
  display: flex;
  justify-content: center;
  flex-direction: column;

}

/* ==================================================== */

/* |||||||||| -- T O P  N A V -- |||||||||| */

.Nav-Nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: #E8E8E8;
  align-items: center;
  z-index: 1;
  padding-top: 2rem;
  width: 100%;
}

.Nav-Item {
  font-family: "Trebuchet MS";
  font-weight: lighter;
  font-size: 1.2em;
  text-transform: uppercase;
  letter-spacing: 5px;
  color: white;
  margin-right: 1.3em;
  margin-left: 1.3em;
  cursor: pointer;
  transition: color .2s ease;
  color: black;
}

.Nav-Item-admin {
  font-family: "Trebuchet MS";
  font-weight: lighter;
  font-size: .9em;
  color: white;
  margin-right: 1.3em;
  margin-left: 1.3em;
  cursor: pointer;
  transition: color .2s ease;
  color: black;
}
}

.Nav-Item:hover {
  color: #C1272D;
}

#navlogo {
  max-height: 40px;
  margin-right: 3rem;
  cursor: pointer;
}

#nav-seperator {
  margin-top: 1rem;
  height: 3px;
  width: 1170px;
  background-color: #B92228;
}

#nav-seperator-2 {
  height: 1px;
  width: 1170px;
  background-color: white;
}

.ui.input input {
  background-color: white !important;
  color: black !important;
  height: 30px !important;
  margin: 0 !important;
}

.ui.icon.input>i.icon {
  color: black;
}

.result {
  width: 100% !important;
  height: 100% !important;
}

/* ==================================================== */

/* |||||||||| -- C O N T A C T -- |||||||||| */

#contact-viewport {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  min-height: 43vh;
}

.contact-card {
  font-family: "Trebuchet MS";
  font-weight: lighter;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  font-size: 1em;
  width: 80vw;
  color: black;
  background-color: rgba(0,0,0,.08);
  padding: .7rem;
}
/* ==================================================== */

/* |||||||||| -- P R O D U C T  V I E W -- |||||||||| */

.productsDisplay {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.productView {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;
  width: 1170px;
  background-color: #D0D0D0;
}

.product-card {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
  background-color: lightgray;
  box-shadow: 0px 4px 10px gray;
  padding: 2rem;
  margin: 1rem;
  min-height: 391px;
  max-height: 500px;
  transition: box-shadow .2s ease;
}

.product-card:hover {
  box-shadow: 0px 10px 30px black;
}

.product-image {
  max-height: 150px;
}

.product-image-artist-view {
  max-height: 200px;
}

.product-title {
  text-align: center;
  font-size: 1.1rem !important;
  margin-top: 1rem;
}

.product-title-name {
  text-align: center;
  color: black;
  font-size: 1.3rem !important;
  margin-top: 1rem;
}

.product-description {
  text-align: center;
  padding-bottom: .6rem;
  min-height: 85px;
  max-height: 85px;
  min-width: 230px;
  max-width: 231px;
}

.product-card-price {
  margin: 1rem;
}

.product-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 230px;
}
 /* =========== P R O D U C T  D E T A I L  V I E W =========== */

    .single-product-view {
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: center;
    }

    .current-product{
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin-top: 1rem;
      margin-bottom: 1em;
    }

    .product-view-image {
      height: 400px;
      object-fit: contain;
      cursor: pointer;
      margin-top: 2rem;
    }

    .product-view-info {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
      padding: 1rem;
    }

    #artist-name-box {
      display: flex;
      align-items: center;
    }

    #artist-name-link {
      display: flex;
      color: #3470B9;
      font-size: 1.1rem;
      margin-right: .5rem;
      cursor: pointer;
    }

    #artist-name-link:hover {
      color: blue;
      cursor: pointer;
    }

    #photo-credit {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }

/* =============== A R T I S T  C A R D =================== */
    .artist-view-info {
      display: flex;
      justify-content: space-between;
      margin-top: 4rem;
    }

    .artist-product-info {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
    }

    .artist-view-image {
      display: flex;
      flex-direction: column;
      min-width: 400px;
      height: 400px;
      object-fit: contain;
      margin-left: 2rem;
    }

    .artist-product-title{
      font-size: 22px;
      margin-bottom: 1rem;
    }
    .artist-product-description {
      text-align: center;
      font-size: 12px;
      margin-bottom: .5rem;
    }

    .artist-product-card-price {
      font-size: 18px;
    }

    .artist-name-bio {
      display: flex;
      justify-content: flex-start;
      flex-direction: column;
    }

    .artist-view-title {
      font-family: "Trebuchet MS";
      font-size: 24px;
      font-weight: bold;
      margin-bottom: 1rem;
    }

    #artist-product-container {
      display: flex;
      justify-content: center;
      flex-direction: column;
    }

    #product-artist-container {
      display: flex;
      align-items: center;
    }

    #birthdeathyears {
      font-size: 12px;
    }

    #artist-product-collecton {
      display: flex;
      justify-content: center;
    }

    .current-artist{
      /* display: flex;
      justify-content: center;
      flex-direction: column;
      width: 80%;
      margin-top: 4rem;
      margin-bottom: 6em; */
    }

    .single-artist-view {
      display: flex;
      justify-content: center;
      align-self: center;
      border-bottom-color: black;
      border-bottom-style: solid;
      width: 1170px;
    }

    .product-view-title {
      text-align: center;
      display: flex;
      justify-content: center;
      font-family: "Trebuchet MS";
      font-size: 14px;
      font-style: italic;
    }

    .product-view-price {
      font-size: 20px;
      margin-top: .5rem;
      margin-bottom: 1rem;
    }

    .product-view-desc {
      display: flex;
      justify-content: center;
      text-align: center;
      white-space: pre-line;
    }

    .product-view-category {
      font-family: "Trebuchet MS";
      font-size: .8em;
    }

    #add-to-cart-form {
      margin-top: .8rem !important;
      margin-bottom: .8rem !important;
    }

    #back-to-products-btn {
      display: flex;
      justify-content: center;
      align-self: center;
      width: 30%;
      margin-bottom: 3rem;
    }

    .ui.blue.button {
      margin-top: 1rem;
    }

    .ui.red.button {
      margin-top: 1rem;
    }


/* ========================================================= */

#deletion-confirm-window {
  opacity: 0;
  top: -100;
  left: -100;
  width: .01px;
  height: .01px;
  z-index: -3;
}

#deletion-confirm-window.active {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgba(0,0,0,.8);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  opacity: 1;
}

.deletion-alert {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background-color: rgba(0,0,0,.8);
  width: 50%;
  height: 50%;
}

#deletion-question {
  font-size: .1px;
  font-weight: thin;
  color: white;
  margin: 1rem;
}

#deletion-question.active {
  font-size: 20px;
  font-weight: bold;
  color: white;
}

.alert-buttons {
  margin: .5rem !important;
}

#adminFormEditProduct {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-self: center;
  width: 40vw;
  margin-bottom: 1rem;
}

#adminFormEditArtist {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-self: center;
  width: 40vw;
  margin-bottom: 1rem;
}


#edit-product-desc {
  height: 100px;
}

#edit-artist-bio {
  height: 100px;
}

.artist-view-bio {
  margin-right: 1rem;
}

.edit-product-buttons{
  display: flex;
  justify-content: space-between;
  margin: 1rem;
}

.edit-artist-buttons{
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
}


/* ==================================================== */

/* |||||||||| -- L A N D E R -- |||||||||| */

#home-lander {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #E8E8E8;
  width: 100%;
  height: 100vh;
}

#lander-navlogo {
  max-height: 40px;
}

.Nav-Item-lander {
  font-family: "Trebuchet MS";
  font-weight: lighter;
  font-size: .9em;
  color: white;
  margin-right: 2.5em;
  margin-left: 2.5em;
  cursor: pointer;
  transition: color .2s ease;
}

.Nav-Item-lander:hover {
  color: #C1272D;
  text-decoration: underline;
}

.lander-nav {
  padding-bottom: 5rem;
  padding-top: 5rem;
}

#home-address {
  font-family: "Trebuchet MS";
  font-size: .8em;
  display: flex;
  justify-content: center;
  background-color: #E8E8E8;
  color: black;
  align-items: center;
  letter-spacing: 3px;
}

/* ==================================================== */

/* |||||||||| -- FOOTER -- |||||||||| */

#footer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #1B1C1D;

  position: static;
  width: 100%;
  left: 0;
  bottom: 0;
}

.Nav-Item-lander {
  font-family: "Trebuchet MS";
  font-weight: lighter;
  font-size: .9em;
  color: white;
  margin-right: 2.5em;
  margin-left: 2.5em;
  cursor: pointer;
  transition: color .2s ease;
}

.Nav-Item-lander:hover {
  color: #C1272D;
  text-decoration: underline;
}

.footer-nav {
  display: flex;
  padding-bottom: .4rem;
  padding-top: 2rem;
}

#footer-address {
  font-family: "Trebuchet MS";
  font-size: 1em;
  color: black;
}

.Nav-Item-Admin {
  font-family: "Trebuchet MS";
  font-weight: lighter;
  font-size: .6em;
  color: black;
  letter-spacing: 2px;
  cursor: pointer;
  transition: color .2s ease;
}

.Nav-Item-Footer {
  align-items: center;
  font-size: 16px;
  color: white;
  margin-right: 1em;
  margin-left: 1em;
  cursor: pointer;
}

.Nav-Item-Footer:hover {
  color: white;
  text-decoration: underline;
}

.Nav-Item-Admin:hover {
  color: #C1272D;
}

#admin-login-container{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-bottom: 2rem;
}

#Nav-Item-Admin-signature {
  position: relative;
  display: flex;
  align-self: flex-end;
  font-family: "Trebuchet MS";
  font-weight: lighter;
  font-size: .7em;
  color: white;
  letter-spacing: 2px;
  cursor: pointer;
  transition: color .2s ease;
  margin-right: 1rem;
  bottom: 2rem;
}

#Nav-Item-Admin-signature:hover{
  color: #C1272D;
}

/* ==================================================== */

/* |||||||||| -- A D M I N -- |||||||||| */

#admin-signin {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-self: center;
  background-color: rgba(26,26,26)
}

.login-label {
  font-family: "Trebuchet MS";
  display: flex;
  justify-content: center;
  color: #BCBCBC;
  text-transform: uppercase;
  letter-spacing: 2px;
}

#admin-portal-title {
  font-family: "Trebuchet MS";
  font-weight: lighter;
  font-size: 1em;
  color: #BCBCBC;
  letter-spacing: 4px;
}


#auth-form {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

#admin-logo {
  max-height: 10px;
  margin: 3em;
  cursor: pointer;
}

#google-button {
  font-family: "Trebuchet MS";
  font-size: .7rem;
  display: flex;
  justify-content: center;
  color: #BCBCBC;
  text-decoration: underline;
  text-transform: uppercase;
  margin-top: 3rem;
  padding: .5rem;
  letter-spacing: 2px;
  transition: color .1s ease;
}

#google-button:hover {
  color: blue;
}

#login-button {
  font-family: "Trebuchet MS";
  background-color: none !important;
  color: black;
  margin-top: 1rem;
  text-transform: uppercase;
  letter-spacing: 2px;
  transition: color .1s ease;
}

#admin-toolbar {
  display: flex;
  width: 1170px;
  font-family: "Trebuchet MS";
  background: linear-gradient(#9D4C4A, #9D4C4A);
  letter-spacing: 2px;
  padding: .5rem;
  color: white;
  box-shadow: 1px 1px 10px gray;
}

.Admin-Nav-Item {
  font-family: "Trebuchet MS";
  font-weight: lighter;
  font-size: .78em;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: white;
  margin-right: 2.5em;
  margin-left: 2.5em;
  cursor: pointer;
  transition: color .2s ease;
  transition: text-shadow .3s ease;
}

.Admin-Nav-Item:hover {
  color: aliceblue;
  text-shadow: 0px 2px 10px  black;
}

#5admintrue.disabled {
  z-index: -4;

}

/* |||||||||| -- A D D  P R O D U C T -- |||||||||| */


  #add-product-viewport {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    min-height: 56vh;
  }

  #admin-add-product-form {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: lightgray;
    border-style: solid;
    border-width: thin;
    border-color: black;
    margin-bottom: 2rem;
    width: 700px;
  }

  .add-product-form-inputs {
    width: 90%;
    height: 40px;
    border-color: black;
    border-style: solid;
    border-width: thin;
    background-color: white;
    border-radius: 4px;
  }

  .add-product-form-inputs-dimensions {
    display: flex;
    justify-content: center;
    width: 10%;
    height: 40px;
    border-color: black;
    border-style: solid;
    border-width: thin;
    background-color: white;
    border-radius: 4px;
    margin-right: .5rem;
    margin-left: .5rem;
  }

  #dimensions-box {
    display: flex;
    align-items: center;
    width: 100%;
  }

  #dimensions-box-2 {
    display: flex;
    align-items: center;
    width: 100%;
    margin-left: 4.1rem;
  }

  .form-label {
    width: 100%;
    font-weight: bold;
    padding-left: 1.8rem;
    margin: .7rem;
  }

  #product-description-input{
    height: 100px;
  }

  #progressBar {
    -webkit-appearance: none;
    appearance: none;
    border-style: solid;
    border-width: thin;
    border-color: black;
    width: 75%;
    height: 20px;
    margin-bottom: 10px;
  }

  #upload-image-button2 {
    margin-bottom: 1rem;
  }

  #progressBar2 {
    -webkit-appearance: none;
    appearance: none;
    border-style: solid;
    border-width: thin;
    border-color: black;
    width: 75%;
    height: 20px;
    margin-bottom: 10px;
  }

  #upload-image-button {
    margin-bottom: 1rem;
  }

  #image-upload-box {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: lightgray;
    border-style: solid;
    border-width: thin;
    border-color: black;
    margin-bottom: 2rem;
    width: 700px;
    transition: background-color 1s ease;
  }

  #image-upload-box.uploaded {
    background-color: green;
    opacity: .8;
  }

  #image-upload-box2 {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: lightgray;
    border-style: solid;
    border-width: thin;
    border-color: black;
    margin-bottom: 2rem;
    width: 700px;
    transition: background-color 1s ease;
  }

  #image-upload-box2.uploaded {
    background-color: green;
    opacity: .8;
  }

  #image-upload-box3 {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: lightgray;
    border-style: solid;
    border-width: thin;
    border-color: black;
    margin-bottom: 2rem;
    width: 700px;
    transition: background-color 1s ease;
  }

  #image-upload-box3.uploaded {
    background-color: green;
    opacity: .8;
  }

  #image-edit-uploader-section {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-self: center;
    margin-top: 1rem;
  }

  #submitButton {
    margin: 2rem;
  }

  #submitButton2 {
    margin: 2rem;
  }

  #upload-image-button {
    margin: 1rem;
  }

  #upload-image-button2 {
    margin: 1rem;
  }

  #fileButton {
    margin: 1rem;
  }

  #fileButton2 {
    margin: 1rem;
  }


/* ==================================================== */

.carousel-container {
  width: 100vw;
  display: flex;
  justify-content: center;
  margin-top: 3rem;

}

.carousel {
  /* width: 1150px;
  height: 400px;
   */
}

.carousel .carousel-image {
  position: static;
  opacity: 1;
  transition: opacity .5s;
}

.carousel .carousel-image.hidden {
  display: none;
  opacity: 0;
}


@media only screen and (max-width: 1170px) {

  .carousel .carousel-image {
    position: static;
    max-width: 900px;
    opacity: 1;
    transition: opacity .5s;
  }

  #filter-list {
    width: 900px;
  }

  #aristlist{
    width: 900px;
  }

  #admin-toolbar {
    width: 900px;
  }


  .Nav-Nav {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    background-color: #E8E8E8;
    align-items: center;
    z-index: 1;
    padding-top: 2rem;
  }

  .Nav-Item {
    font-family: "Trebuchet MS";
    font-weight: lighter;
    font-size: .8em;
    text-transform: uppercase;
    letter-spacing: 5px;
    color: white;
    margin-right: 1.3em;
    margin-left: 1.3em;
    cursor: pointer;
    transition: color .2s ease;
    color: black;
  }

  .Nav-Item-Footer {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white !important;
    margin-right: 1.3em;
    margin-left: 1.3em;
    cursor: pointer;
    transition: color .2s ease;
  }

  .Nav-Item-Footer:hover {
    color: black;
  }

  .Nav-Item:hover {
    color: #C1272D;
  }

  #navlogo {
    max-height: 40px;
    margin-right: 0;
    cursor: pointer;
  }

  #nav-seperator {
    margin-top: 1rem;
    height: 3px;
    width: 900px;
    background-color: #B92228;
  }

  .ui.input input {
    background-color: white !important;
    color: black !important;
    height: 30px !important;
    margin-top: 1rem !important;
    margin-bottom: 1rem !important;
  }

  .productView {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
    width: 900px;
    background-color: #D0D0D0;
  }

  .product-card {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    background-color: lightgray;
    box-shadow: 0px 4px 10px gray;
    padding: 1rem;
    margin: 1rem;
    min-height: 391px;
    max-height: 500px;
    transition: box-shadow .2s ease;
  }

  .single-artist-view {
    display: flex;
    justify-content: center;
    align-self: center;
    border-bottom-color: black;
    border-bottom-style: solid;
    width: 900px;
  }
}







@media only screen and (max-width: 900px) {

  .carousel .carousel-image {
    position: static;
    max-width: 500px;
    opacity: 1;
    transition: opacity .5s;
  }

  #filter-list {
    width: 500px;
  }

  #aristlist {
    width: 500px;
  }

  #admin-toolbar {
    width: 500px;
  }


  .artist-tile {
    font-family: "Geneva";
    width: 95%;
    font-size: 12px;
    background-color: rgba(36,36,36,.9);
    letter-spacing: 2px;
    color: white;
    margin: 5px;
    margin-top: 10px;
    padding: .4rem;
    opacity: .9;
    transition: color .2s ease;
    transition: background-color .2s ease;
  }


  .category-filter{
    font-size: 10px;
    margin-bottom: 1px;
    margin-left: 5px;
    margin-right: 5px;
    padding-left: 5px;
    padding-right: 5px;
    color: white;
    transition: color .2s ease;
    background-color: #C1272D;
    cursor: pointer;
  }

  .scroll-list-title {
    display: flex;
    font-size: 10px;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    font-family: "Geneva";
    text-transform: uppercase;
    letter-spacing: 3px;
    background-color: rgba(36,36,36,.9);
    color: white;
    padding: .5rem;
    z-index: 1;
    box-shadow: 0px 5px 10px -3px black;
  }

  #filter-selection {
    display: flex;
    flex-direction: column;
  }

  #expand-btn {
    display: none;
  }

  #artist-photo-list {
    max-width: 200px;
  }

  .artist-name-list {
    display: flex;
    justify-content: center;
    font-size: 20px;
    padding-right: 4rem;
    padding-left: 4rem;
    line-height: 1.3;
    color: white;
  }


  .artist-name-list-2 {
    display: flex;
    justify-content: center;
    font-size: 20px;
    line-height: 1.3;
    color: black;
  }

  #artist-title-bar-name-photo {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 1rem;
  }

  .Nav-Nav {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    background-color: #E8E8E8;
    align-items: center;
    z-index: 1;
    padding-top: 2rem;
  }

  .Nav-Item {
    font-family: "Trebuchet MS";
    font-weight: lighter;
    font-size: .8em;
    text-transform: uppercase;
    letter-spacing: 5px;
    color: white;
    margin-right: 1.3em;
    margin-left: 1.3em;
    cursor: pointer;
    transition: color .2s ease;
    color: black;
  }

  .Nav-Item:hover {
    color: #C1272D;
  }

  #navlogo {
    max-height: 40px;
    margin-right: 0;
    cursor: pointer;
  }

  #nav-seperator {
    margin-top: 1rem;
    height: 3px;
    width: 500px;
    background-color: #B92228;
  }

  .ui.input input {
    background-color: white !important;
    color: black !important;
    height: 30px !important;
    margin-top: 1rem !important;
    margin-bottom: 1rem !important;
  }

  .productView {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
    width: 500px;
    background-color: #D0D0D0;
  }

  .product-card {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    background-color: lightgray;
    box-shadow: 0px 4px 10px gray;
    padding: 1rem;
    margin: 1rem;
    min-height: 391px;
    max-height: 500px;
    transition: box-shadow .2s ease;
  }

  #admin-toolbar {
      display: flex;
      align-items: center;
      flex-direction: column;
      font-family: "Trebuchet MS";
      background: linear-gradient(#9D4C4A, #9D4C4A);
      letter-spacing: 2px;
      padding: .5rem;
      color: white;
      box-shadow: 1px 1px 10px grey;
  }
}


@media only screen and (max-width: 750px) {

    .carousel .carousel-image {
      display: none;
      position: static;
      max-width: 900px;
      opacity: 1;
      transition: opacity .5s;
    }

      #admin-toolbar {
        width: 500px;
      }

      #filter-list {
        width: 300px;
      }

      #aristlist {
        width: 300px;
      }

      #navlogo {
        max-height: 20px;
        margin-right: 0rem;
        cursor: pointer;
      }



      .artist-tile {
        font-family: "Geneva";
        width: 95%;
        font-size: 12px;
        background-color: rgba(36,36,36,.9);
        letter-spacing: 2px;
        color: white;
        margin: 5px;
        margin-top: 10px;
        padding: .4rem;
        opacity: .9;
        transition: color .2s ease;
        transition: background-color .2s ease;

      }

      .category-filter{
        font-size: 10px;
        margin-bottom: 1px;
        margin-left: 5px;
        margin-right: 5px;
        padding-left: 5px;
        padding-right: 5px;
        color: white;
        transition: color .2s ease;
        background-color: #C1272D;
        cursor: pointer;
      }

      .scroll-list-title {
        display: flex;
        font-size: 10px;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: space-between;
        font-family: "Geneva";
        text-transform: uppercase;
        letter-spacing: 3px;
        background-color: rgba(36,36,36,.9);
        color: white;
        padding: .5rem;
        z-index: 1;
        box-shadow: 0px 5px 10px -3px black;
      }

      #filter-selection {
        display: flex;
        flex-direction: column;
      }

      #expand-btn {
        display: none;
      }

      #artist-photo-list {
        max-width: 200px;
      }

      .artist-name-list {
        display: flex;
        justify-content: center;
        font-size: 20px;
        padding-right: 4rem;
        padding-left: 4rem;
        line-height: 1.3;
        color: white;
      }

      .artist-name-list-2 {
        display: flex;
        justify-content: center;
        font-size: 20px;
        line-height: 1.3;
        color: black;
      }

      #artist-title-bar-name-photo {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        margin: 1rem;
      }

      .productView {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        align-items: center;
        width: 300px;
        background-color: #E8E8E8;
      }

      .product-card {
        display: flex;
        justify-content: space-around;
        flex-direction: row;
        align-items: center;
        background-color: lightgray;
        box-shadow: 0px 0px 0px gray;
        padding: 2rem;
        margin: 1rem;
        min-height: 100px;
        max-height: 500px;
        transition: box-shadow .2s ease;
      }

      .single-artist-view {
        display: flex;
        justify-content: center;
        align-self: center;
        border-bottom-color: black;
        border-bottom-style: solid;
        width: 300px;
      }

      .single-product-view {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
      }

      .current-product {
        display: flex;
        flex-direction: column;
        align-content: center;
        justify-content: center;
        margin-top: 2rem;
        margin-bottom: 1em;
      }

      .artist-view-image {
        display: none;
      }

      #footer-address {
        font-size: 10px;
      }

}
